html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: darkgrey;
}

nav {
  background-color: gray;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  list-style: none;
  margin: 0;
}

nav > li,
a {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #444444;
  list-style: none;
  text-decoration-line: none;
}

nav img {
  width: 190px;
  height: 190px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
  margin-left: 4rem;
}

h1 {
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  font-size: 60px;
  margin-left: 4rem;
}

.filter {
  list-style: none;
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  margin-left: 4rem;
}

.filter a {
  font-size: 14px;
}

main article h2 {
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  font-weight: 500;
  font-size: 20px;
  flex-grow: 2;
}

main article {
  display: flex;
  flex-direction: column;
}

.product p {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.discount p {
  color: firebrick;
}

main article.soldOut img {
  opacity: 50%;
}

main article.soldOut::before {
  content: "Out of stock";
  position: absolute;
  background-color: gray;
  font-size: 20px;
  font-weight: 300;
  font-family: Futura, Helvetica, sans-serif;
  color: black;
  padding: 0.5rem;
  margin-top: 4rem;
}

main article.sale::before {
  content: "- 50%";
  position: absolute;
  background-color: gray;
  opacity: 50%;
  font-size: 16px;
  color: maroon;
  margin-top: 2rem;
  padding: 0.5rem;
  font-family: Futura, Arial, Helvetica, sans-serif;
}

main article.product a {
  font-size: 18px;
  text-align: center;
  align-self: flex-end;
  transform: translate(0px, -24px);
  background-color: gainsboro;
  width: 140px;
}

main article .discount,
main article .price span {
  display: none;
}

main article.sale .price span {
  display: initial;
}

main article.sale .discount {
  display: flex;
  justify-content: space-between;
}

.fotr {
  display: flex;
  background-color: gray;
  margin: 0;
  text-align: left;
  font-family: Futura, Helvetica, sans-serif;
  overflow: hidden;
  vertical-align: bottom;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.fotr li a {
  font-size: 14px;
  color: #444444;
  line-height: 26px;
}

.fotr p {
  font-size: 14px;
  margin: 0;
  color: black;
  opacity: 0.8;
  font-style: italic;
}

h4 {
  color: #444444;
  margin: 0.5rem;
}

h5 {
  color: #444444;
  margin: 0.5rem;
}

@media screen and (max-width: 600px) {
  nav > ul {
    column-gap: 4rem;
  }

  nav > li,
  a {
    font-size: 28px;
  }

  h1 {
    font-size: 40px;
  }

  .fotr {
    gap: 10px;
    flex-direction: column;
  }
}
