html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: darkgrey;
}

nav {
  background-color: gray;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  list-style: none;
  margin: 0;
}

nav > li,
a {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #444444;
  list-style: none;
  text-decoration-line: none;
}

main {
  display: grid;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  font-family: Futura, Helvetica, sans-serif;
}

.breadcrumbs > li a {
  font-size: 19px;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.breadcrumbs li:last-child::after {
  background: none;
}

main .breadcrumbs {
  grid-column: 1/-1;
}

main .productinfo {
  background-color: #a49393;
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  padding: 1rem;
  width: 500px;
  height: 480px;
  border-radius: 10px;
  grid-column: 2/-1;
  grid-row: 2/3;
}

.productinfo > h2 {
  font-size: 40px;
}

.productinfo > p {
  font-size: 14px;
}

.productinfo button {
  display: block;
  margin: 1rem;
  width: 40%;
  background-color: gray;
  border-radius: 1rem;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 20px;
  color: gainsboro;
  transform: translate(130px, 0px);
}

.productinfo form label {
  gap: 0.5rem;
}

.productinfo select {
  background-color: gray;
  color: gainsboro;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 0.5rem;
}

.fotr {
  display: flex;
  background-color: gray;
  margin: 0;
  text-align: left;
  font-family: Futura, Helvetica, sans-serif;
  overflow: hidden;
  vertical-align: bottom;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.fotr li a {
  font-size: 14px;
  color: #444444;
  line-height: 25px;
}

.fotr p {
  font-size: 14px;
  margin: 0;
  color: black;
  opacity: 0.8;
  font-style: italic;
}

h4 {
  color: #444444;
  margin: 0.5rem;
}

h5 {
  color: #444444;
  margin: 0.5rem;
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 850px 510px;
  }

  .productinfo {
    transform: translate(-90px, 100px);
  }
}

@media screen and (max-width: 900px) {
  nav > ul {
    column-gap: 2rem;
  }

  nav > li,
  a {
    font-size: 24px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-flow: column;
  }

  main .productinfo {
    width: auto;
    height: auto;
  }

  .productinfo > h2 {
    font-size: 30px;
  }

  .breadcrumbs {
    margin: 0;
    margin-left: -35px;
    font-size: 14px;
  }

  .breadcrumbs > li a {
    font-size: 14px;
  }

  .breadcrumbs li::after {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 0px;
    content: "";
    transition: all 0.3s;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
    background-repeat: no-repeat;
    /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
  }

  .fotr {
    gap: 10px;
    flex-direction: column;
  }
}
