html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: darkgrey;
}

nav {
  background-color: gray;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  list-style: none;
  margin: 0;
}

nav > li,
a {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #444444;
  list-style: none;
  text-decoration-line: none;
}

nav img {
  width: 190px;
  height: 190px;
}

img {
  width: 480px;
  height: 600px;
  max-width: 100%;
}

.product_info {
  background-color: #a49393;
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  padding: 1rem;
  width: 500px;
  height: 480px;
  border-radius: 10px;
}

.product_info > h2 {
  font-size: 40px;
}

.product_info > p {
  font-size: 14px;
}

.product_info button {
  display: block;
  margin: 1rem;
  width: 40%;
  background-color: gray;
  border-radius: 1rem;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 20px;
  color: gainsboro;
  transform: translate(130px, 0px);
}

.product_info form label {
  gap: 0.5rem;
}

.product_info select {
  background-color: gray;
  color: gainsboro;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 0.5rem;
}

.info_box {
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  background-color: #a49393;
  padding: 1rem;
  width: 500px;
  height: 200px;
}

.fotr {
  display: flex;
  background-color: gray;
  margin: 0;
  text-align: center;
  font-family: Futura, Helvetica, sans-serif;
  overflow: hidden;
  vertical-align: bottom;
  justify-content: center;
  gap: 100px;
}

.fotr li,
a {
  font-size: 14px;
  color: #444444;
  list-style: none;
  line-height: 25px;
}

.fotr h4 {
  color: #444444;
  margin: 0.5rem;
}

@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 50px 500px 550px 50px;
    grid-template-rows: 100px 600px 100px;
    grid-column-gap: 2rem;
  }

  img {
    grid-area: 2 / 2 / 3 / 3;
    transform: translate(20px);
  }

  .product_info {
    grid-area: 2 / 3 / 3 / 4;
    transform: translate(80px, 50px);
  }

  .info_box {
    grid-area: 3 / 2 / 4 / -1;
  }
}
