html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: darkgrey;
}

nav {
  background-color: gray;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  list-style: none;
  margin: 0;
}

nav > li,
a {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #444444;
  list-style: none;
  text-decoration-line: none;
}

h1 {
  text-align: center;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 50px;
  color: #444444;
  font-weight: 500;
  padding-top: 2rem;
}

.letterGroup {
  font-family: Futura, Helvetica, sans-serif;
  color: #444444;
  font-size: 36px;
  margin: 0;
}

.letterLinks ol {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.4rem;
}

main .categories {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categories {
  width: 80%;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
}

.categories ol {
  list-style-type: none;
}

.categories li {
  border-bottom: 1px solid dimgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.categories a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.categories li:hover {
  color: white;
}

.letterGroup ol {
  list-style: none;
  margin-top: 0;
}

.letterGroup li a {
  line-height: 2rem;
  font-size: 20px;
}

.ScrollUp {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
  padding: 20px;
}

.fotr {
  display: flex;
  background-color: gray;
  margin: 0;
  text-align: left;
  font-family: Futura, Helvetica, sans-serif;
  overflow: hidden;
  vertical-align: bottom;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.fotr li a {
  font-size: 14px;
  color: #444444;
  line-height: 25px;
}

.fotr p {
  font-size: 14px;
  margin: 0;
  color: black;
  opacity: 0.8;
  font-style: italic;
}

h4 {
  color: #444444;
  margin: 0.5rem;
}

h5 {
  color: #444444;
  margin: 0.5rem;
}

@media screen and (min-width: 800px;) {
  .categories ol {
    column-count: 2;
  }
}

@media screen and (max-width: 600px) {
  nav > ul {
    column-gap: 4rem;
  }

  nav > li,
  a {
    font-size: 28px;
  }

  h1 {
    font-size: 40px;
  }
}
